<head>
</head>
<body>

<h1>User Information:</h1>

<form method="post">

  <fieldset> <legend>Names:</legend>
    <table>
    <tr>
      <th>Primary</th>
      <th>Name</th>
    </tr>
{% for k in user.aliases %}
  {% set i = loop.index %}
    <tr>
      <td><input type="radio" name="alias_canonical" value="{{k}}" {% if k == user.subject %} checked {% endif %} > </td>
      <td><input type="text" name="alias_{{i}}_val" value="{{k}}"></td>
    </tr>
{% endfor %}
    <tr>
      <td></td>
      <td><input type="text" name="alias_0_val" value=""></td>
    </tr>
    </table>
  </fieldset>

  <fieldset> <legend>Properties:</legend>
    <table>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
{% for k in user.props %}
  {% set i = loop.index %}
    <tr>
      <td><input type="text" name="prop_{{i}}_key" value="{{k}}"></td>
      <td><input type="text" name="prop_{{i}}_val" value="{{user.props[k]}}"></td>
    </tr>
{% endfor %}
    <tr>
      <td><input type="text" name="prop_0_key" value=""></td>
      <td><input type="text" name="prop_0_val" value=""></td>
    </tr>
    </table>

  </fieldset>

  <fieldset> <legend>Links:</legend>
    <table>
    <tr>
      <th>Relation</th>
      <th>Type (optional)</th>
      <th>Href (optional)</th>
    </tr>
{% for k in user.links %}
  {% set i = loop.index %}
    <tr>
      <td><input type="text" name="link_{{i}}_rel" value="{{k.rel}}"></td>
      <td><input type="text" name="link_{{i}}_type" value="{{k.type}}"></td>
      <td><input type="text" name="link_{{i}}_href" value="{{k.href}}"></td>
    </tr>
{% endfor %}  
    <tr>
      <td><input type="text" name="link_0_rel" value=""></td>
      <td><input type="text" name="link_0_type" value=""></td>
      <td><input type="text" name="link_0_href" value=""></td>
    </tr>
    </table>
  </fieldset>
  <p>

  <input type="submit" value="Save">
</form>
</body>

